@import 'assets/styles/variables.scss';

.container {
  padding: 28px;
  background-color: $color-theme;
}

.person {
  padding: 30px 0;
  text-align: center;
}

.avatar {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.name {
  margin-top: 12px;
  font-size: 24px;
}

.item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}

.header {
  display: flex;
  align-items: center;
}

.detailList {
  margin-top: 12px;
}

.educationItem {
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}

.contactItem {
  display: flex;
  align-items: center;
}

.contact {
  display: inline-block;
  margin-left: 12px;
}

.largeIcon {
  font-size: 20px;
}

.middleIcon {
  font-size: 16px;
}

.title {
  margin-left: 12px;
  font-size: $font-size-large-x;
  font-weight: 600;
  line-height: 32px;
}

.school {
  font-size: $font-size-medium-x;
}

.description {
  display: block;
  line-height: 20px;
}
